<div class="home d-flex justify-content-center align-self-center flex-column">
  <div>
    <h1 class="job">JobTimer</h1>
    <%= link_to 'Start now !', new_user_session_path, class: 'start' %>
  </div>
</div>
