

 <div class="banner">
        <% if current_user.banner.url.nil? %>
            <img class="banner_image" src="mer.jpeg">
        <% else %>
            <img class="banner_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @current_user.banner, height: 300, width: 400, crop: :fill %>')"> cool
        <% end %>
      </div>

<h1 class="title">My projects</h1>
</div>
<div class="new">
  <%= link_to "new project", new_project_path(@project), class: "btn"%>
</div>
