
.btn {
position: absolute;
left: 88.4%;
right: 1.88%;
top: 34.96%;
bottom: 61.52%;
background: #FFB946;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
font-family: Roboto;
font-style: bold;
color: white;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;
}
